/* stylelint-disable */
$_mobile: 375px;
$_tablet: 475px;
$_desktop: 1000px;

@mixin mobile {

    @media (min-width: #{$_mobile}) {

        @content;
    }
}

@mixin tablet {

    @media (min-width: #{$_tablet}) {

        @content;
    }
}

@mixin desktop {

    @media (min-width: #{$_desktop}) {

        @content;
    }
}
